*{
    margin: 0px;
    padding: 0px;
}
.logo_color{
    color: red;
}
.m_header{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.m_header h1{
    text-align: center;
}
.m_header ul{
    display: flex;
}
.m_header li{
    margin: 24px;
    list-style: none;
    font-size: 20px;
   
}
li a{
    text-decoration: none;
}
.btn__primary{
    font-size:  20px;
    border: none;
    background-color: #fd6e0a;
    color: white;
    padding: 10px;
}